/* Importação das fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Definição de variáveis de cores e fontes */
:root {
  --cor-primaria: #F3F5FC; /* Cor primária */
  --cor-secundaria: #0A3871; /* Cor secundária */
  --cor-terciaria: #FFFFFF; /* Cor terciária (branco) */
  --font-primaria: 'Inter', sans-serif; /* Fonte primária */
  --font-secundaria: 'Poppins', sans-serif; /* Fonte secundária */
}

/* Reset de margem, padding e box-sizing */
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais do corpo da página */
body {
  background-color: var(--cor-primaria); /* Cor de fundo */
  font-family: var(--font-primaria); /* Fonte padrão */
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Altura mínima da viewport */
  position: relative; /* Posição relativa para elementos absolutos dentro */
}

/* Estilos do cabeçalho */
.cabecalho {
  position: fixed; /* Cabeçalho fixo */
  top: 0;
  left: 0;
  z-index: 1000; /* Z-index alto para sobrepor outros elementos */
  width: 100%;
  background-color: var(--cor-terciaria); /* Cor de fundo */
  padding: 10px 20px; /* Preenchimento */
  display: flex;
  justify-content: space-between; /* Alinhamento dos itens */
  align-items: center;
}

/* Estilos do menu no cabeçalho */
.cabecalho__menu {
  display: flex;
  gap: 20px; /* Espaçamento entre itens */
}

/* Estilos dos links do menu */
.cabecalho__menu__link {
  font-family: var(--font-primaria);
  font-size: 1.2rem; /* Tamanho da fonte */
  text-decoration: none; /* Sem decoração de texto */
  color: var(--cor-secundaria); /* Cor do texto */
  transition: color 0.3s ease; /* Transição de cor suave */
  padding: 10px 15px; /* Preenchimento */
  border-radius: 8px; /* Borda arredondada */
}

/* Estilos do logotipo */
.logotipo {
  width: 120px;
  height: 48px;
}

/* Estilos da seção de apresentação */
.apresentacao {
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos do texto de apresentação e do textarea */
.apresentacao__texto,
.container__left textarea {
  border: none; /* Removendo a borda */
  outline: none; /* Removendo a linha de foco */
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria); /* Cor do texto */
  max-width: 100%; /* Largura máxima */
  font-weight: 400; /* Peso da fonte */
  font-size: 32px; /* Tamanho da fonte */
  line-height: 150%; /* Altura da linha */
  text-align: center; /* Alinhamento do texto */
}

/* Estilos do contêiner principal */
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}
.retangulo{
  width: 100%;
}
/* Estilos dos elementos da esquerda e direita dentro do contêiner */
.container__left, .container__right {
  width: 100%;
}
.container__right p {
  background-color: var(--cor-terciaria);
  height: 100px;
  padding: 10px;
  font-size: 32px;
  color: var(--cor-secundaria); /* Cor do texto */
  text-align: center; /* Alinhamento do texto */
  border-radius: 8px;
  border: 2px solid var(--cor-secundaria); /* Borda sólida */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos do textarea */
.container__left textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 32px;
  border-radius: 8px;
  border: 2px solid var(--cor-secundaria); /* Borda sólida */
}

/* Estilos do aviso */
.aviso {
  text-align: center; /* Alinhamento do texto */
  font-size: 1rem; /* Tamanho da fonte */
  font-weight: 400; /* Peso da fonte */
  width: 100%;
  margin-top: 20px; /* Margem superior */
}

/* Estilos do contêiner de botões */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px; /* Preenchimento superior */
}

/* Estilos dos botões Criptografar, Descriptografar e Copiar */
.button1,
.button2,
#btnCopiar {
  width: 100%;
  max-width: 328px; /* Largura máxima */
  height: 67px; /* Altura */
  background: var(--cor-secundaria); /* Cor de fundo */
  border-radius: 24px; /* Borda arredondada */
  color: var(--cor-terciaria); /* Cor do texto */
  font-family: var(--font-primaria); /* Fonte */
  font-style: normal; /* Estilo normal */
  font-weight: 400; /* Peso da fonte */
  font-size: 16px; /* Tamanho da fonte */
  line-height: 19px; /* Altura da linha */
  text-align: center; /* Alinhamento do texto */
  margin-bottom: 20px; /* Margem inferior */
}

/* Estilos específicos do botão Descriptografar */
.button2 {
  background: #D8DFE8; /* Cor de fundo */
  border: 1px solid #0A3871; /* Borda sólida */
  color: #0A3871; /* Cor do texto */
}
